<div class="container ">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        ADD
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Add Team</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="col-auto" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="name">
                            <div *ngIf="!registerForm.get('name')?.valid && (registerForm.get('name')?.dirty)"
                                id="emailHelp" class="form-text">
                                Has introducido mal el nombre</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">City</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="city">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Stadium</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="stadium">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Fundation</label>
                            <input type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="fundation">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <button type="submit" class="btn btn-success " data-bs-dismiss="modal"
                            [disabled]="!registerForm.valid">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="scroll">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Stadium</th>
                    <th scope="col">fundation</th>
                    <th scope="col text-center">settings</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of teams">
                    <td>{{item.name}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.stadium}}</td>
                    <td>{{item.fundation}}</td>
                    <td>
                        <a class="btn btn-warning m-2 " [routerLink]="['update',item._id]">Update</a>
                        <a class="btn btn-danger" (click)="delete(item._id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
